*{
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
}

h2, h3{
    text-align: center;
}

body{
    min-height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    display: flex;
}

.inicio_sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(233, 233, 233);

    >div{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        padding: 5% 6%;
        border-radius: 50px;
        background-color: white;
    }

    h2{
        margin-bottom: 10%;
        font-size: 2.5rem;
    }

    form{
        input{
            padding: 5px 0;
            margin: 1% 0;
            width: 100%;
            outline: none;
        }
        input[type="checkbox"]{
            width: auto;
            margin-left: 2%;
        }
        input[type="submit"]{
            display: block;
            margin: 0 auto;
            margin-top: 10%;
            width: auto;
        }
        >div{
            display: flex;
        }
    }
}

.boton, input[type="submit"], .header li>a, input[type="submit"].boton{
    padding: 8px 12px;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.boton:hover, input[type="submit"]:hover, input[type="submit"].boton:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.header{
    width: 100%;
    padding: 2% 0;
    
    >div{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        >ul{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        >h3{
            font-size: 2rem;
            color: lightblue;
        }
    }

    li>a{
        background-color: lightblue;
        border: solid 1px lightblue;
        color: white;
        font-weight: bold;
    
    }
    
    li>a:hover{
        background-color: white;
        color: lightblue;
        transform: scale(1.1);
    }
}

.header+.header{
    >div{
        justify-content: end;
    }

}

div:has(.header){
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.menu{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;

    h2{
        text-align: center;
        margin: 6% 0 1% 0;
        font-size: 4rem;
    }

    table{
        border-collapse: collapse;
        margin: 0 auto;
        width: 80%;
        text-align: left;
    
        tr:nth-child(2n){
            background-color: lightgrey;
        }
    
        tr{
            border-bottom: solid 1px black;
        }
    
        th, td{
            padding: 20px;
        }
    
        tr{
            border-bottom: solid 1px black;
        }
    
    }
}

.form{
    width: 20%;
    margin: 5% auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 4%;
    border-radius: 50px;
    background-color: white;

    h3{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 4%;
    }

    form{
        width: 100%;
        input, select{
            width: 99%;
            padding: 5px 0;
        }
        input:not(input[type="submit"]){
            margin-bottom: 5%;
        }
        select{
            margin-bottom: 5%;
        }
        >div{
            margin-top: 2%;
            display: flex;
            justify-content: space-between;

            input[type="submit"]{
                width: auto;
                padding: 8px 12px;
                order: 2;
            }

            
        }
    }
}

p{
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
}

footer{
    background-color: black;
    padding: 2% 0;
    text-align: center;
    color: white;
}