*{
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
}

h2, h3{
    text-align: center;
}

body{
    min-height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
    display: flex;
}

.form{
    width: 50%;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    h2{
        text-align: center;

    }

}

.inicio_sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    >div{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        padding: 5% 6%;
        border-radius: 50px;
    }

    h2{
        margin-bottom: 10%;
        font-size: 2rem;
    }

    form{
        input{
            padding: 5px 0;
            margin: 1% 0;
            width: 100%;
            outline: none;
        }
        input:focus{
            background-color: rgb(226, 226, 226);
        }
        input[type="checkbox"]{
            width: auto;
            margin-left: 2%;
        }
        input[type="submit"]{
            display: block;
            margin: 0 auto;
            margin-top: 10%;
            width: auto;
        }
        >div{
            display: flex;
        }
    }
}

.boton, input[type="submit"].boton{
    padding: 5px 10px;
    background-color: transparent;
    border: solid 1px black;
    cursor: pointer;
    transition: all 0.5s;
}

.boton:hover, input[type="submit"].boton:hover{
    background-color: black;
    color: white;
}


.header{
    width: 100%;
    padding: 2% 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    
    >div{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        >ul{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        >h3{
            font-size: 2rem;
            color: lightblue;
        }
    }
    
}

.header+.header{
    display: flex;
    justify-content: end;
}

.menu{
    width: 60%;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    margin: 0 auto;

    th{
        background-color: grey;
        color: white;
    }

    tr{
        border-bottom: solid 1px black;
    }
}